
h1 {
    text-align: center;
}

.order-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 600px; /* Adjust the width as per your requirement */
    margin: 0 auto; /* Center align the card */
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    
    flex-direction: row;
    background-color: rgb(62, 141, 142);
    justify-content: center; /* Horizontally center the content */

}
.content{
    margin-left: 30px;
}

.order-card h2 {
    color: #333;
    margin-bottom: 10px;
}


.order-card p {
    margin: 5px 0;
    display: block;
    color: aliceblue;
}

.order-card p.total-amount {
    font-weight: bold;
}

.order-card p.shipping-address {
    color: #555;
}

.img-container {
            height: 100px;
}

.btn-container{
    margin-left: auto;
    margin-right: auto;
    
}
.btnn{
    padding: 12px;
    margin: 12px;
    display: flex;
    background-color: #0a0aa3;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid rgb(33, 31, 31);
}
.btnn:hover {
    background-color: #45a049;
    } 