/* NavBar.css */

.navbar {
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    position: relative;
  }
  
  .logo{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
  }
  .e-logo{
    height: 100px;
    background-color: black;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 1.2em;
    position: relative;
  }
  
  .nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    background-color: #3498db;
    transition: width 0.3s;
  }
  
  .nav-links a:hover::before {
    width: 100%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 15px;
    }
  
    .nav-links a {
      margin: 10px 0;
    }
  }
  